.card-news {
  display: grid;
  grid-template-columns: 340px 420px 420px;
  border-top: 1px solid $color-iron; 

  &__picture-grid {
    display: none;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: unset;


    .card-news__picture {
      display: none;
    }

    .card-news__picture-grid, img {
      display: block;
      width: 674px;
      height: 360px;

    }

    .card-news__text {
      display: none;
    }

    .card-news__wrapper {
      position: absolute;
      width: 673px;
      padding: 40px;
      flex-direction: column-reverse;
      height: 360px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    }

    .card-news__title {
      color: $color-white;
    }

    .card-news__period {
      margin-top: auto;
      color: $color-white;
    }
  }

  &__picture {
    width: 340px;
    height: 220px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: 24px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $color-blue-charcoa;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
  }

  &__period {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: $color-mischka;
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    margin: 0;
  }

  &__button {
    width: 124px;
  }
}
