.card-news {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border-top: 1px solid $color-iron;
  padding: 60px 0 60px 28px;
  gap: 60px;

  @media (max-width: 1340px) {
    gap: unset;
  }

  &__picture-grid {
    display: none;
  }

  &--grid {
    display: flex;
    border-top: unset;
    padding: unset;
    gap: unset;

    @include vp-767 {
      display: flex;
    }

    .card-news__picture {
      display: none;
    }

    .card-news__picture-grid, img {
      display: block;
      width: 674px;
      height: 360px;

    }

    .card-news__text {
      display: none;
    }

    .card-news__wrapper {
      position: absolute;
      padding: 40px;
      flex-direction: column-reverse;
      height: 360px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      max-width: 674px;
      width: 100%;

      @include vp-1023 {
        max-width: 673px;
        width: 100%;
      }
      
      @include vp-767 {
        max-width: 673px;
        width: 100%;
      }
    }

    .card-news__title {
      color: $color-white;
    }

    .card-news__period {
      margin-top: auto;
      color: $color-white;
    }
  }

  &__picture {
    width: 340px;
    height: 220px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 0 40px;
  }

  &__title {
    font-size: 24px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $color-blue-charcoa;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
  }

  &__period {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: $color-mischka;
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    margin: 0;
  }

  &__button {
    width: 124px;
  }
}
