.card-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 24px;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $color-blue-charcoa;
    text-align: left;
  }

  &__period {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: $color-mischka;
  }

  &__text {
    width: 400px;
    text-align: left;
  }
}