.main-nav {
  display: none;
  width: 100%;
  position: fixed;
  width: 100%;
  height: calc(100vh - 80px);
  top: 80px;
  left: 0;
  overflow-y: auto;

  &--active {
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding: 180px 0 0;
    background-color: $color-blue-charcoa;

    .main-nav__icon:hover {
      transform: scale(1.2);
      transition: .2s ease-in;
      color: $color-white;
    }
  }

  &__menu-inner {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 90px;
  }


  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

  }


  &__list-social {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 54px;
    top: 115px;
    right: 52px;
  }

  &__icon {
    transform: scale(1);
    transition: .2s ease-out;
    color: #FFFFFF50;

  }

  &__item-link {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: $color-white-50;
    transition: .2s ease-out;

    &--upper {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;
      font-weight: 300;
      text-transform: uppercase;
    }

    &:hover {
      color: $color-white;
      transition: .2s ease-in;
    }

    &:focus {
      color: $color-white;
      transition: .2s ease-in;
      outline: none;
    }
  }
}