.main-nav {
  display: none;
  width: 100%;
  position: fixed;
  width: 100%;
  height: calc(100vh - 80px);
  top: 80px;
  left: 0;
  overflow-y: auto;

  &--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-blue-charcoa;
  }

  &__left {
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 90px;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  &__item:not(:last-child) {
    margin: 0 0 40px;
  }

  &__list-social {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 60px;
    top: 200px;
    right: 50px;
  }

  &__item-link {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    font-weight: 300;
    color: $color-white-50;
    transition: .2s ease-out;

    &:hover {
      color: $color-white;
      transition: .2s ease-in;
    }

    &:focus {
      color: $color-white;
      transition: .2s ease-in;
      outline: none;
    }
  }
}