.news {
  padding: 20px 0 0;

  &--hidden {
    display: none;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 60px 0 60px 50px;
    border-top: 1px solid $color-iron; 
  }
}